button {
  cursor: pointer;
  background-color: var(--color-secondary);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

button:hover {
  filter: brightness(95%);
}
